/* VARIABLES */
:root {
    --field-color: #dcdcdc;
    --button-color: #125cf5;
    --button-text-color: #ffffff;
    --link-color: #125cf5;
    --text-color: #000000;
}

/* ICONS */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/material_icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* BODY */
body {
    background-image: url('/images/background.png');
    background-repeat: repeat;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

/* PORTAL */
.portal {
    box-shadow: 0px 0px 56px -10px rgba(0,0,0,0.75);
    border-radius: 10px;
    position: fixed;
    width: 300px;
    left: 0;
    right: 0;
    margin: 7% auto;
}

/* ICON */
img {
    width: 45px;
}

/* BUTTONS */
.w3-btn {
    background-color: var(--button-color)!important;
    color: var(--button-text-color)!important;
}

.submit {
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
}

/* LINKS */
a {
    color: var(--link-color);
    text-decoration: none;
}

/* INPUT FIELDS */
input, select {
    background-color: var(--field-color);
    color: var(--text-color);
}

input:focus, select:focus, button:focus {
    outline: none;
}

.w3-check {
    width: 22px;
    height: 22px;
    margin: 3px;
}

/* IMAGES */

img {
    max-width: 100%;
}
