{% extends 'main.html' %}

{% block content %}
{% if path == '/authentication' %}
<p>{{ page.authentication }}</p>
{% else %}
<p>{{ page.registration }}</p>
{% endif %}
<p><a href="#" onclick="history.back();">{{ page.back }}</a></p>
{% endblock %}

{% block loading %}
<div class="w3-white loading">
    <img src="/images/loading.gif">
</div>

<script>

    // Simulating some internet related delay >:)
    document.addEventListener('DOMContentLoaded', function() {
        var t = setTimeout(function() {
            var l = document.querySelector('.loading');
            l.style.display = 'none';
        }, 3000);
    });

</script>

</script>
{% endblock %}
