<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>

        <title>{{ page.title }}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <!-- THEME & ICON -->
        <link rel="icon" type="image/png" sizes="192x192" href="/images/icon64.png">
        <meta name="theme-color" content="#ffffff">

        <!-- STYLES -->
        <link rel="stylesheet" href="/styles/w3.css">
        <link rel="stylesheet" href="/styles/main.css">
        {% block styles %}
        {% endblock %}

    </head>
    <body>

        <div class="w3-white portal">
            <div class="w3-center">
                <h1>
                    {{ page.name }}
                    <img src="/images/icon64.png">
                </h1>
            </div>
            <div class="w3-container">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>
