{% extends 'main.html' %}

{% block content %}
<p>{{ page.description }}</p>
<form method="POST" action="/authentication">
    <input type="hidden" id="type" name="type" value="LOGIN">
    <input type="text" id="username" name="username" placeholder="{{ page.username }}" class="w3-input" required>
    <input type="password" id="password" name="password" placeholder="{{ page.password }}" class="w3-input" required>
    <input type="checkbox" id="check" class="w3-check w3-small">
    <label for="check" class="w3-label">{{ page.check }}</label><br>
    <input type="submit" value="{{ page.login }}" class="w3-btn w3-card submit">
</form>
<div class="w3-center w3-margin-top">
    <p>{{ page.new_user }} <a href="/register">{{ page.register }}</a></p>
</div>
{% endblock %}
